<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_navbar">
                    <div class="ct_logo">
                        <a href="index.html">
                            <img src="../../../../../../assets/img1/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="ct_nav_menu">
                        <ul>
                            <div class="ct_close_menu">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                            <li><a href="#Begin" class="active" style="text-decoration: none;">BEGIN</a></li>
                            <li><a href="#Who_is_rentie" style="text-decoration: none;">WHO IS RENTIE?</a></li>
                            <li><a href="#how_it_works" style="text-decoration: none;">HOW IT WORKS?</a></li>
                            <li><a href="#feature" style="text-decoration: none;">FEATURES</a></li>
                            <li><a href="#stories" style="text-decoration: none;">STORIES</a></li>
                        </ul>
                        <div class="ct_menu_bar">
                            <i class="fa-solid fa-bars-staggered"></i>
                        </div>
                    </div>
                    <div>
                        <a routerLink="/admin/login" class="ct_login_btn">Login</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</header>
<!-- Hero Section S -->
<section class="ct_hero_section" id="Begin">
    <div class="ct_cloud_images">
        <img src="../../../assets/img1/cloud_1.svg" alt="cloud_1">
        <img src="../../../assets/img1/cloud_2.svg" alt="cloud_2">
        <img src="../../../assets/img1/coud_3.svg" alt="coud_3">
        <img src="../../../assets/img1/cloud_4.svg" alt="cloud_4">
        <img src="../../../assets/img1/cloud_5.svg" alt="cloud_5">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme ct_home_slider">
                    <div class="item">
                        <div class="ct_slider_img_main">
                            <div class="ct_slider_img_1 ct_fade_in_right">
                                <img src="../../../assets/img1/1.svg" alt="">
                            </div>
                            <div class="ct_slider_img_2 ct_fade_in_left">
                                <img src="../../../assets/img1/2.svg" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="ct_slider_img_main">
                            <div class="ct_slider_img_1 ct_fade_in_right">
                                <img src="../../../assets/img1/3.svg" alt="">
                            </div>
                            <div class="ct_slider_img_2 ct_fade_in_left">
                                <img src="../../../assets/img1/4.svg" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="ct_slider_img_main">
                            <div class="ct_slider_img_1 ct_fade_in_right">
                                <img src="../../../assets/img1/5.svg" alt="">
                            </div>
                            <div class="ct_slider_img_2 ct_fade_in_left">
                                <img src="../../../assets/img1/6.svg" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="ct_slider_img_main">
                            <div class="ct_slider_img_1 ct_fade_in_right">
                                <img src="../../../assets/img1/7.svg" alt="">
                            </div>
                            <div class="ct_slider_img_2 ct_fade_in_left">
                                <img src="../../../assets/img1/8.svg" alt="">
                            </div>

                        </div>
                    </div>
                </div>


                <div class="d-flex align-items-center justify-content-center ct_banner_download_btn">
                    <div class="d-flex align-items-center gap-2">
                        <a>
                            <img src="../../../assets/img1/apple.svg" alt="">
                        </a>
                        <a>
                            <img src="../../../assets/img1/play_store.svg" alt="">
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>
<!-- Hero Section E -->

<!-- Service Section S -->
<section class="ct_pt_80 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-down" data-aos-duration="1000">
                <figure class="ct_service_card">
                    <div class="ct_service_icon">
                        <img src="../../../assets/img1/verifiy_icon.svg" alt="">
                    </div>
                    <figcaption class="ct_fs_24 ct_ff_Fira_sans ct_fw_600 mt-3">100% Verified</figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-down" data-aos-duration="1500">
                <figure class="ct_service_card">
                    <div class="ct_service_icon">
                        <img src="../../../assets/img1/secure_icon.svg" alt="">
                    </div>
                    <figcaption class="ct_fs_24 ct_ff_Fira_sans ct_fw_600 mt-3">Most Secure</figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-down" data-aos-duration="2000">
                <figure class="ct_service_card">
                    <div class="ct_service_icon">
                        <img src="../../../assets/img1/privacy_icon.svg" alt="">
                    </div>
                    <figcaption class="ct_fs_24 ct_ff_Fira_sans ct_fw_600 mt-3">100% Privacy</figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0" data-aos="fade-down" data-aos-duration="2500">
                <figure class="ct_service_card">
                    <div class="ct_service_icon">
                        <img src="../../../assets/img1/smart_matcing_icon.svg" alt="">
                    </div>
                    <figcaption class="ct_fs_24 ct_ff_Fira_sans ct_fw_600 mt-3">Smart Matching</figcaption>
                </figure>
            </div>

        </div>
    </div>
</section>
<!-- Service Section E -->


<!-- About us Section S -->
<section id="Who_is_rentie" class="ct_mt_120 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000">
                <div class="ct_about_left">
                    <h4 class="ct_red_text ct_fs_24 ct_ff_Fira_sans mb-3">Know about us</h4>
                    <h2 class="ct_fs_50 ct_ff_Fira_sans ct_fw_700 mb-4">Who is Rentie?</h2>
                    <p class="ct_fs_18 mb-4">
                        Welcome to Ren-Tie, the playful and easy way to find the perfect girlfriend for any occasion!
                        Whether you need a dazzling date for a party, a fun partner for a night out, or a sweet
                        companion for a cozy dinner, Ren-Tie has just the right match for you. Browse through our
                        vibrant profiles of amazing girls ready to make your day special. Our app ensures a safe,
                        friendly, and enjoyable experience with secure payments and 24/7 support. Jump into the world of
                        Ren-Tie and discover how fun and exciting companionship can be!
                    </p>
                    <!-- <p class="ct_fs_18">
                        Lorem ipsum dolor sit amet consectetur. Et condimentum netus amet facilisis enim mollis. Et est
                        amet nunc pulvinar nulla proin. Auctor blandit donec risus nunc duis sapien posuere eleifend
                        tristique. Nunc id luctus ultricies nisl. Pellentesque vitae aenean lectus semper faucibus
                        mauris sagittis. Facilisis vitae convallis.
                    </p> -->

                    <div class="mt-5">
                        <a class="ct_red_btn">Download Now <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-left" data-aos-duration="1000">
                <div class="ct_about_img">
                    <img src="../../../assets/img1/about_img.png" alt="">
                </div>
            </div>


        </div>

    </div>
</section>
<!-- About us Section E -->

<!-- How Works Section S -->
<section class="ct_how_it_works_bg ct_pt_80 ct_pb_110" id="how_it_works">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-5" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="ct_fs_24 ct_red_text ct_ff_Fira_sans ct_fw_600 mb-2">Meet New People Today!</h4>
                <h2 class="ct_fs_50 ct_ff_Fira_sans ct_fw_700 mb-2">How Does It Work?</h2>
                <p>You’re just 3 steps away from a great date</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="2500">
                <figure class="ct_how_works_card">
                    <div class="ct_how_works_img">
                        <img src="../../../assets/img1/how_works_1.png" alt="">
                        <span>01</span>
                    </div>
                    <figcaption>
                        <h4 class="ct_fs_24 ct_ff_Fira_sans ct_fw_700">Find a Partner </h4>
                        <p class="mb-0 ct_fs_18">Browse through a variety of profiles to find the perfect friend for
                            your desired activity.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="2500">
                <figure class="ct_how_works_card">
                    <div class="ct_how_works_img">
                        <img src="../../../assets/img1/how_works_2.png" alt="">
                        <span>02</span>
                    </div>
                    <figcaption>
                        <h4 class="ct_fs_24 ct_ff_Fira_sans ct_fw_700">Request an Event </h4>
                        <p class="mb-0 ct_fs_18">Choose a time and date for your event and send a request to your
                            selected friend.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="2500">
                <figure class="ct_how_works_card">
                    <div class="ct_how_works_img">
                        <img src="../../../assets/img1/how_works_3.png" alt="">
                        <span>03</span>
                    </div>
                    <figcaption>
                        <h4 class="ct_fs_24 ct_ff_Fira_sans ct_fw_700">Start Rentie</h4>
                        <p class="mb-0 ct_fs_18">Meet up and enjoy your chosen activity, creating memorable experiences
                            together.</p>
                    </figcaption>
                </figure>
            </div>

        </div>

        <div class="mt-5 text-center" data-aos="fade-up" data-aos-duration="2500">
            <a class="ct_red_btn ct_white_btn mx-auto">Download Now <i class="fa-solid fa-arrow-right"></i></a>
        </div>

    </div>
</section>
<!-- How Works Section E -->

<section id="feature" class="ct_mt_120">
    <section class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-5" data-aos="fade-down" data-aos-duration="2500">
                <h4 class="ct_fs_24 ct_red_text ct_ff_Fira_sans ct_fw_600 mb-2">An Exhaustive List Of</h4>
                <h2 class="ct_fs_50 ct_ff_Fira_sans ct_fw_700 mb-2">Amazing Features</h2>
                <p>To find meaningful connections, dates, and life partners.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="2500">
                <div class="ct_feature_img">
                    <img src="../../../assets/img1/feature_img.png" alt="" class="ct_img_616 ct_border_radius">
                    <div class="ct_start_now_div">
                        <p class="mb-1  text-white">START NOW FOR</p>
                        <h2 class="ct_fs_50 ct_ff_Fira_sans  text-white">FREE</h2>
                        <p class="mb-0 text-white">$15 FREE TRIAL</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-4 mb-lg-0" data-aos="fade-left" data-aos-duration="2500">
                <div class="ct_feature_cnt">
                    <div class="ct_feature_icon">
                        <img src="../../../assets/img1/feature_icon_1.svg" alt="">
                    </div>
                    <div class="ct_feature_title">
                        <h4 class="ct_fs_24 ct_fw_700 ct_ff_Fira_sans">Simple to Use</h4>
                        <p class="mb-0 ct_fs_18">Lorem ipsum dolor sit amet consectetur. Pulvinar imperdiet erat varius
                            sed id.</p>
                    </div>

                </div>
                <div class="ct_feature_cnt ct_mt_30">
                    <div class="ct_feature_icon">
                        <img src="../../../assets/img1/feature_icon_2.svg" alt="">
                    </div>
                    <div class="ct_feature_title">
                        <h4 class="ct_fs_24 ct_fw_700 ct_ff_Fira_sans">Smart Auth with QR Scan</h4>
                        <p class="mb-0 ct_fs_18">Lorem ipsum dolor sit amet consectetur. Viverra at pellentesque non
                            scelerisque.</p>
                    </div>

                </div>
                <div class="ct_feature_cnt ct_mt_30">
                    <div class="ct_feature_icon">
                        <img src="../../../assets/img1/feature_icon_3.svg" alt="">
                    </div>
                    <div class="ct_feature_title">
                        <h4 class="ct_fs_24 ct_fw_700 ct_ff_Fira_sans">Filter Very Fast</h4>
                        <p class="mb-0 ct_fs_18">Lorem ipsum dolor sit amet consectetur. Nisl aenean ut dui in id amet
                            massa.</p>
                    </div>
                </div>
                <div class="ct_feature_cnt ct_mt_30">
                    <div class="ct_feature_icon">
                        <img src="../../../../../../assets/img1/feature_icon_4.svg" alt="">
                    </div>
                    <div class="ct_feature_title">
                        <h4 class="ct_fs_24 ct_fw_700 ct_ff_Fira_sans">Cool Community</h4>
                        <p class="mb-0 ct_fs_18">Lorem ipsum dolor sit amet consectetur. Urna sit augue duis sed. Mattis
                            enim.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- App Download Section S -->
    <section class="ct_app_screen_bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="2500">
                    <div class="ct_app_download_cnt text-center">
                        <h2 class="ct_fs_44 ct_ff_inter ct_fw_600 ct_dark_blue_text mb-5">We are launching soon </h2>
                        <p class="ct_fs_18 ct_fw_500">Download online Rentie app and you’re always ready to check out
                            profiles near you & chat with real committed singles ready for a real
                            relationship. It puts at the power in the palm of your hand for a
                            faster dating experience.</p>

                        <div class="d-flex align-items-center justify-content-center ct_banner_download_btn mt-5">
                            <div class="d-flex align-items-center gap-2 flex-wrap justify-content-center">
                                <a>
                                    <img src="../../../../../../assets/img1/apple.svg" alt="" class="ct_img_192">
                                </a>
                                <a>
                                    <img src="../../../assets/img1/play_store.svg" alt="" class="ct_img_192">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  mb-4 mb-lg-0" data-aos="fade-left" data-aos-duration="2500">
                    <div class="ct_app_screen_img">
                        <img src="../../../../../../assets/img1/screen.png" alt="">
                    </div>
                </div>

            </div>

            <div class="mt-5 text-center" data-aos="fade-up" data-aos-duration="2500">
                <a class="ct_red_btn ct_white_btn mx-auto">Download Now <i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>
    </section>
    <!-- App Download Section E -->

    <!-- Stories Section S -->
    <section class="ct_py_60" id="stories">
        <div class="container">
            <div class="row" data-aos="fade-down" data-aos-duration="1000">
                <div class="col-md-12 text-center mb-5">
                    <h4 class="ct_fs_24 ct_red_text ct_ff_Fira_sans ct_fw_600 mb-2">Faith in Rent</h4>
                    <h2 class="ct_fs_50 ct_ff_Fira_sans ct_fw_700 mb-2">Rentie Stories</h2>
                    <p>Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor <br>
                        mattis ullamcorper urna. Cras quis elementum</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000">
                    <figure class="ct_story_card">
                        <div class="ct_story_img">
                            <img src="../../../assets/img1/story_img_1.jpg" alt="" class="ct_img_h_247">
                            <div class="ct_story_profile">
                                <img src="../../../assets/img1/story_img_profile_1.png" alt="">
                            </div>
                        </div>
                        <figcaption>
                            <h4 class="ct_ff_Fira_sans ct_fw_700 mb-3">Love horoscope for Cancer
                                There will be</h4>
                            <p>December 10, 2021</p>
                            <hr class="mt-4">
                            <a href="">Read More <i class="fa-solid fa-arrow-right"></i></a>
                        </figcaption>
                    </figure>

                </div>
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-down" data-aos-duration="1500">
                    <figure class="ct_story_card">
                        <div class="ct_story_img">
                            <img src="../../../assets/img1/story_img_2.png" alt="" class="ct_img_h_247">
                            <div class="ct_story_profile">
                                <img src="../../../assets/img1/story_img_profile_2.png" alt="">
                            </div>
                        </div>
                        <figcaption>
                            <h4 class="ct_ff_Fira_sans ct_fw_700 mb-3">‘love at first sight’ is all
                                about initial attraction</h4>
                            <p>December 11, 2021</p>
                            <hr class="mt-4">
                            <a href="">Read More <i class="fa-solid fa-arrow-right"></i></a>
                        </figcaption>
                    </figure>

                </div>
                <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-down" data-aos-duration="2000">
                    <figure class="ct_story_card">
                        <div class="ct_story_img">
                            <img src="../../../assets/img1/story_img_3.png" alt="" class="ct_img_h_247">
                            <div class="ct_story_profile">
                                <img src="../../../assets/img1/story_img_profile_3.png" alt="">
                            </div>
                        </div>
                        <figcaption>
                            <h4 class="ct_ff_Fira_sans ct_fw_700 mb-3">What women actually want
                                to feel on their</h4>
                            <p>December 14, 2021</p>
                            <hr class="mt-4">
                            <a href="">Read More <i class="fa-solid fa-arrow-right"></i></a>
                        </figcaption>
                    </figure>

                </div>

            </div>

        </div>
    </section>
    <!-- Stories Section E -->


    <!-- footer section S -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="ct_footer_center_content text-center">
                        <div class="ct_footer_logo mx-auto mb-4">
                            <a>
                                <img src="../../../assets/img1/white_logo.png" alt="">
                            </a>
                        </div>
                        <div>
                            <p class="ct_fs_18 text-white text-center">Sign up to recieve a monthly email on the latest
                                news!</p>
                            <div class="ct_footer_nws_ltr mt-4">
                                <input type="email" placeholder="Your Email Address" class="form-control">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="ct_footer_line">

            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                    <div class="ct_footer_item">
                        <h4 class="ct_fs_24 text-white ct_fw_700">OUR INFORMATION</h4>
                        <ul>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i>About Us</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Contact Us</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Customer Reviews</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Success Stories</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i>Business License</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                    <div class="ct_footer_item">
                        <h4 class="ct_fs_24 text-white ct_fw_700">MY ACCOUNT</h4>
                        <ul>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Manage Account</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i>Safety Tips</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Account Verification</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Safety & Security</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Membership Level</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                    <div class="ct_footer_item">
                        <h4 class="ct_fs_24 text-white ct_fw_700">HELP CENTER</h4>
                        <ul>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Help Center</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> FAQ</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i>Quick Start Guide</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Tutorials</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Associate Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
                    <div class="ct_footer_item">
                        <h4 class="ct_fs_24 text-white ct_fw_700">LEGAL</h4>
                        <ul>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Privacy policy</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> End User Agreements</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Refund Policy</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Cookie policy</a></li>
                            <li> <a><i class="fa-solid fa-angles-right me-2"></i> Report abuse</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <hr class="ct_footer_line mb-0 pt-4">
            <div class="row align-items-center">
                <div class="col-md-6 mb-3 mb-md-0">
                    <div class="ct_subfooter_left text-center text-md-start">
                        <p class="mb-0 text-white">Copyright © 2024.All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0">
                    <ul class="ct_subfooter_social justify-content-center justify-content-md-end">
                        <li>
                            <a>
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a>
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!-- footer section E -->